/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* 							*/
/*	Your code starts here! 	*/
/*						    */

/* General Styling here */
body{
	width: 876px;
	margin: 0 auto;
}
header, section{
	margin: 5% 0;
}
p {
	line-height:1.2;
}

/* Nav bar styling */
nav {
	display:flex;
	justify-content:space-between;
}
nav #links {
	width: 70%;
	display:flex;
	justify-content: space-between;
	align-items: center;
}
nav a {
	text-decoration:none;
	color:silver;
}
nav a:hover {
	color:black;
	transition: 0.4s;
}

/* Header styling  */
header {
	display:flex;
	justify-content: space-between;
	text-align:center;
	align-items:center;
}
.headline h1 {
	font-size: 80px;
	margin: 0;
}
.headline {
	margin:0 10%;
}
button {
	margin-top: 20px;
	background-color:white;
	border: 1px solid black;
	padding: 1.5% 12%;
	border-radius:4px;
}
button span{
	cursor: pointer;
	display: inline-block;
	position:relative;
	transition: 0.5s;
}
button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition:0.5s;
}
button:hover span {
	padding-right:25px;
}
button:hover span:after {
	opacity: 1;
	right: 0;
}
header img {
	width:90%;
}

/* Content styling */
.about{
	display:flex;
}
.about2{
	padding-right:1%;
}


/* Contact styling */
#contact p {
	margin: 2% 0;
}

/* Footer styling  */
footer p {
	text-align:center;
	margin: 8% 0;
}


/* 					 */
/* 	 services.html	 */
/* 					 */

/* Services.html gen */
#service-page section{
	margin:4% 0;
}

/* 	 service info 	 */
#service-info h1{
	font-size:28px;
}

/* service categories*/
#all-service-categories{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	margin: 2% 0;
}
.service-category {
	border: 2px solid black;
	width: 47.5%;
	margin: 2% 0;
	padding: 2%;
	background-color:#e7e7e7;
}

/* 	 service facts	 */
#service-facts{
	display:flex;
	justify-content:space-between;
}
#service-facts div{
	width:47.5%;
}
ul {
	list-style-type: square;
	list-style-position:inside;
	line-height: 1.5;
	margin: 3% 0;
}

@media (max-width: 800px){
    body{
        width:100%;
    }
    div img {
        max-width:100%;
    }
    nav {
        flex-direction:row-reverse;
        flex-wrap:wrap-reverse;
        justify-content:center;
    }
    nav #logo-image{
        display:flex;
        justify-content:center;
        width:100%;
        padding: 2%;
    }
    .headline h1 {
        font-size:64px;
    }
    .headline-image {
        display:none;
    }
    header {
        justify-content:center;
    }
    .middle-img {
        width:100%;
    }
    .about {
        justify-content:space-around;
    }
    .about1{
        width:45%;
    }
    .about2{
        width: 28%;
    }
    #contact {
        margin-left:3%
    }

    #service-page section {
        margin:4%;
    }
    #service-page #all-service-categories {
        margin:2%;
    }
    .services-header-img {
        width: 100%;
    }
    .service-category{
        margin:2%;
        width:45%;
    }
}

@media (max-width: 500px){
    body {
        width: 100%;
    }
    nav #links {
        width: 100%;
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        align-items:center;
    }
    #links a{
        display:flex;
        justify-content:center;
        width:100%;
        border-bottom:1px solid #c9c9c9;
        padding: 2%;
    }
    #logo-image {
        border-bottom:1px solid #c9c9c9
    }
    .about {
        flex-wrap:wrap;
    }
    .about1, .about2{
        width:100%;
        padding:3%;
    }
}